<% provide(:title, "Top") %>
<div class="container container-m">
<div class="center jumbotron">
  <h1>ギターコード譜エディタ</h1>
  <p>このアプリケーションでは、登録された楽譜の勤怠情報を閲覧、登録、編集することができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>

<%# <p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>
<h2>CSSが適応されると色が変わる</h2>
<button type="button" class="btn btn-primary">Bootstrap適応</button> %>