<% provide(:title, "Edit") %>
<% provide(:class_text, 'scoreedit') %>
<% provide(:button_text, '更新') %>
<h1>楽譜の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'edit_form' %>
  </div>
</div>